<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h4>total Markes: {{totalMarks}}</h4>
        <h4>total questions:{{totalQuestions}}</h4>
    </div>
    <div>
        <div>
            <label for="year">Select Year:</label>
            <select id="year" [(ngModel)]="selectedYear" (change)="filterStatistics()">
                <option *ngFor="let year of availableYears" [value]="year">{{ year }}</option>
            </select>
    
            <button (click)="getWeeklyStats()">View Weekly Statistics</button>
            <button (click)="getMonthlyStats()">View Monthly Statistics</button>
        </div>
        <div *ngIf="weeklyStats.length > 0">
            <h4>Weekly Statistics</h4>
            <ul>
                <li *ngFor="let stat of weeklyStats">
                   Week: {{stat._id}}
                    <p *ngFor="let question of stat.questions">
                        {{ question.questionBody }} 
                    </p>
                </li>
            </ul>
        </div>
    
        <div *ngIf="monthlyStats.length > 0">
            <h4>Monthly Statistics</h4>
            <ul>
                <li *ngFor="let stat of monthlyStats">
                    {{ monthNames[stat._id-1] }}
                    <p *ngFor="let question of stat.questions">
                         {{ question.questionBody }}
                    </p>
                    
                </li>
            </ul>
        </div>
        <div>
            <p>To add question</p>
            <a [routerLink]="['/questionsadd/',questionPaper_id]">click here</a>
        </div>
        <ul>
            <li *ngFor="let ques of questions; let nueNo=index" >
                <p class="queNo">que{{nueNo+1}}:-</p>
                <div class="questionStyle">
                    <p>{{ques.questionBody}}</p>
                    <div class="buttons">
                        <button  mat-raised-button color="accent" [routerLink]="['/questions/updatequestion/',ques._id]">update</button>
                        <button  mat-raised-button color="accent" (click)="deleteQuestion(ques._id)"  >Delete</button>
                    </div>
                </div>
                <p class="marks">Marks: {{ques.marksAlloted}}</p>
                <p class="choices" *ngIf="ques.choices.length>1">
                    <small *ngFor="let eachCoice of ques.choices">
                        {{eachCoice}}
                    </small>
                </p>
            </li>
          </ul>
    </div>
   

    <!-- <div *ngIf="totalQuestions==0" >
        <h3>No Question Yet</h3>
    </div> -->
</body>
</html>
<!-- [routerLink]="['/questions/',ques._id]" -->