.nav-bar{
    display:flex;
    justify-content:space-between;

}
.buttonLogout{
    background-color: blueviolet;
   
}
.nosubject{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}