<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="pageHeading">
    <h3 >welcome {{loggedInUser.userName}} to the dashboard</h3>
    <button class="buttonLogout" (click)="logout()">Logout</button>
  </div>

<div class="container">
    <header>
      <div class="bar">
        <h2>Subjects</h2>
        <h3>Total Subjects:{{totalSubjects}}</h3>
      </div>
    </header>
    <div >
      <ul>
        <li class="subField"  *ngFor="let subject of subjects" >
            <a  [routerLink]="['/questionpapers',subject._id]">{{subject.title}}</a>
            <button (click)="deleteSubject(subject._id)">DELETE</button>
        </li>
      </ul>
    </div>
     
  </div>
  <div class="nosubject" *ngIf="totalSubjects==0">
    <h1>{{noSubjectYetMsg}}</h1>
  </div>
  <div>
    <p>To Add subject</p>
    <a [routerLink]="['/subjectsadd/',UserIdToPassToAddSubject]" >click here</a>
  </div>
</body>
</html>
  
  <!-- [routerLink]="['/subject', subject.id]" -->
